目标package: 

当前时间：
2018-3-17
21:40:21
2018-03-17 21:40:21

所有配置的属性信息:
targetPackage - 
templatePath - generator/test-one.ftl
targetProject - C:\Program1\git\cerp\cerp-service\src\main\resources\generator
fileName - ${tableClass.shortClassName}.htm

实体和表的信息：
表名：t_dept
变量名：department
小写名：department
类名：Department
全名：com.foboth.eshop.domain.Department
包名：com.foboth.eshop.domain

列的信息：
=====================================
主键：
    -------------------------------------
    列名：id
    列类型：BIGINT
    字段名：id
    注释：
    类型包名：java.lang
    类型短名：Long
    类型全名：java.lang.Long
    是否主键：true
    是否可空：false
    是否为BLOB列：false
    是否为String列：false
    是否为字符串列：false
    是否为日期列：false
    是否为时间列：false
    是否为序列列：false
    列长度：19
    列精度：0

基础列：
    -------------------------------------
    列名：deptName
    列类型：VARCHAR
    字段名：deptName
    注释：
    类型包名：java.lang
    类型短名：String
    类型全名：java.lang.String
    是否主键：false
    是否可空：true
    是否为BLOB列：false
    是否为String列：true
    是否为字符串列：true
    是否为日期列：false
    是否为时间列：false
    是否为序列列：false
    列长度：255
    列精度：0

Blob列：

=====================================
全部列：
列名 - 字段名
    id - id
    deptName - deptName
