<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.mapper.StockMapper">
  <resultMap id="BaseResultMap" type="com.myproject.domain.Stock">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goodId" jdbcType="INTEGER" property="goodId" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goodId, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_stock
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_stock
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.myproject.domain.Stock">
    insert into t_stock (id, goodId, count
      )
    values (#{id,jdbcType=INTEGER}, #{goodId,jdbcType=INTEGER}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.myproject.domain.Stock">
    insert into t_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodId != null">
        goodId,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodId != null">
        #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.myproject.domain.Stock">
    update t_stock
    <set>
      <if test="goodId != null">
        goodId = #{goodId,jdbcType=INTEGER},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.myproject.domain.Stock">
    update t_stock
    set goodId = #{goodId,jdbcType=INTEGER},
      count = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="whereSql">
    <where>
      <if test="q!=null and q!=''">
        and name like CONCAT("%",#{q},"%")
      </if>
      <if test="dataState!=null">
        and dataState=#{dataState}
      </if>
    </where>
  </sql>
  <select id="queryTotal" parameterType="BaseQuery" resultType="int">
    select count(*) from t_stock <include refid="whereSql"/>
  </select>
  <select id="query" parameterType="BaseQuery" resultMap="BaseResultMap">
    select * from t_stock <include refid="whereSql"/> <if test="sort!=null and sort!=''">ORDER BY ${sort} ${order} </if> limit #{start},#{rows}
  </select>
  <delete id="deleteBatch">
    delete from t_stock where id in 
    <foreach close=")" collection="array" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </delete>
  <update id="deleteLogic">
    update t_stock set dataState = 0 where id in 
    <foreach close=")" collection="array" item="id" open="(" separator=",">
      #{id}
    </foreach>
  </update>
</mapper>